{% extends 'base.html.twig' %}

{% block main %}

	<a href="{{path('app_home')}}">Retour à l'accueil</a>

	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
				<div class="mw-100 overflow-hidden rounded-top">
					<img src="{{ vich_uploader_asset(pin) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100 rounded-top" />
				</div>
	 			<h1 class="h5 text-secondary pl-3 pt-3">{{pin.getTitle()}}</h1>
				<p class="pl-3 pb-3 text-muted">Soumis {{pin.createdAt|ago}} par {{pin.user.fullName}}</p>
				<p class="pl-3 pb-3 text-break">{{pin.getDescription()}}</p>
				<div class="pl-3 pb-3">
					<a class="btn btn-light" href="{{path('app_pins_edit', {'id': pin.id})}}">Modifier le Pin</a>

					<a class="btn btn-light" href="#" onclick="event.preventDefault(); confirm('confirmez-vous la suppression du Pin?') && document.getElementById('js-pin-delete-form').submit();">Supprimer le Pin</a>

				 	<form id="js-pin-delete-form" action="{{path('app_pins_delete', {'id': pin.id})}}" method="POST" style="display: none;">
				 		<input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
				 		<input type="hidden" name="_method" value="DELETE">
				 	</form>
				 </div>
			</article>

		 </div>
	 </div>

{% endblock %}